USE [master]
GO
/****** Object:  Database [ZurichRarp]    Script Date: 18/09/2025 02:35:31 p. m. ******/
CREATE DATABASE [ZurichRarp]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZurichRarp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZurichRarp]
GO
/****** Object:  Table [dbo].[Polizas]    Script Date: 18/09/2025 02:35:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polizas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[TipoPoliza] [nvarchar](20) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaExpiracion] [date] NOT NULL,
	[MontoAsegurado] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18/09/2025 02:35:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/09/2025 02:35:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroIdentificacion] [char](10) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[RolId] [int] NOT NULL,
	[contrasena] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Polizas_Estado]    Script Date: 18/09/2025 02:35:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Polizas_Estado] ON [dbo].[Polizas]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Polizas_Fechas]    Script Date: 18/09/2025 02:35:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Polizas_Fechas] ON [dbo].[Polizas]
(
	[FechaInicio] ASC,
	[FechaExpiracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Polizas_TipoPoliza]    Script Date: 18/09/2025 02:35:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Polizas_TipoPoliza] ON [dbo].[Polizas]
(
	[TipoPoliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_CorreoElectronico]    Script Date: 18/09/2025 02:35:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_CorreoElectronico] ON [dbo].[Usuarios]
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_NombreCompleto]    Script Date: 18/09/2025 02:35:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_NombreCompleto] ON [dbo].[Usuarios]
(
	[NombreCompleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_NumeroIdentificacion]    Script Date: 18/09/2025 02:35:31 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_NumeroIdentificacion] ON [dbo].[Usuarios]
(
	[NumeroIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD  CONSTRAINT [FK__Polizas__Cliente__412EB0B6] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Polizas] CHECK CONSTRAINT [FK__Polizas__Cliente__412EB0B6]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Clientes__RolId__3D5E1FD2] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Clientes__RolId__3D5E1FD2]
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD CHECK  (([Estado]='Cancelada' OR [Estado]='Activa'))
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD CHECK  (([MontoAsegurado]>(0)))
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD CHECK  (([TipoPoliza]='Hogar' OR [TipoPoliza]='Salud' OR [TipoPoliza]='Automóvil' OR [TipoPoliza]='Vida'))
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD  CONSTRAINT [CK_Fechas_Validas] CHECK  (([FechaExpiracion]>[FechaInicio]))
GO
ALTER TABLE [dbo].[Polizas] CHECK CONSTRAINT [CK_Fechas_Validas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  ((NOT [NombreCompleto] like '%[^A-Za-zÁÉÍÓÚáéíóúÑñ ]%'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  ((NOT [NumeroIdentificacion] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_CorreoElectronico_Valido] CHECK  (([CorreoElectronico] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_CorreoElectronico_Valido]
GO
USE [master]
GO
